[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/perl-support"]
	path = .vim/bundle/perl-support
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/vim-easytags"]
	path = .vim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
